html, body {
    margin: 0;
    padding:0;
    border: 0;
}

body {
    background-color: black;
    height: 100vh;
    background-image: radial-gradient(circle at center, rgb(120, 53, 127), rgb(73, 10, 80));
    color: white;
    font-family: "Trebuchet MS";
}

#plans {
    margin: 0;
    padding: 0mm 4mm;
    position: relative;
    top: 2cm;
    display: flex;
    flex-direction: column;
}

.plan {
    min-height: 20vh;
    padding: 5mm;
    padding-top: 1cm;
    margin-bottom: 2mm;
    background-image: linear-gradient(to top, rgb(40, 4, 40) 5%, rgb(62, 9, 62) 50%, rgba(0, 0, 0, 0));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0mm 2mm 0mm rgb(20, 1, 20);
    display: flex;
    flex-direction: column;
}

.name, .date, .desc {
    margin: 1mm 0;
    background-color: rgba(30, 2, 30, 0.679);
    border: 0;
    color: white;
    padding: 2mm;
    border-radius: 10px;
}

.name {
    font-size: 6vh;
    min-height: 20%;
}

.date {
    font-size: 3vh;
    min-height: 5%
}

.desc {
    font-size: 2vh;
    min-height: 60%;
}

#menu {
    position: fixed;
    display: flex;
    z-index: 100;
    flex-direction: row;
    width: 100%;
    height: 2cm;
    background-image: linear-gradient(to bottom, rgb(171, 43, 181), rgb(100, 7, 107));
    box-shadow: 0mm 2mm 0mm rgb(67, 2, 80);
    padding: 0 5mm;
}

#menu h1 {
    color: white;
    text-shadow: 0mm 0mm 4mm rgb(251, 38, 255);
}